<dom-module id="cells-gema-list-documents-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-gema-list-documents; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.container {
  margin: var(--cells-gema-list-documents-margin, 5%); }

bbva-list-link-icon:hover {
  -webkit-text-decoration: var(--cells-gema-list-documents-decoration-underline, underline);
          text-decoration: var(--cells-gema-list-documents-decoration-underline, underline); }

</style></template></dom-module>